
.wrapper{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #151320;
    z-index: -2;
    position: absolute;
}

.box{
    top: 10%;
    left: 28%;
    bottom: 15%;
    width: 640px;
    height: 640px;
    box-sizing: border-box;
    box-shadow: 0 15px 20px rgba(7, 3, 116, 0.233);
    border-radius: 5px;
    position: relative;
}

.tabuleiro{

    height: 640px;
    width: 640px;
    background-color: rgb(99, 97, 97);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -1.6px;
    z-index: -1;
}

.quadrado_branco{
    background-size: 100%;
    height: 80px;
    width: 80px;
    position: relative;
    z-index: -1;
}
.quadrado_preto{
    background-size: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(27, 25, 25);
    position: relative;
    z-index: -1;
     
}

#cavalo{
    width: 75px;
    height: 75px;
    right: 80px;
    background-image: url(../img/cavalo.png);
    background-size: 100%;
    position: absolute;
    animation: L 10s ease;
}

@keyframes L{
    0%{
        top: 0px;
        right: 80px;
    }

    10%{
        top: 80px;
        right: 80px;
    }

    20%{
        top: 160px;
        right: 80px;
    }

    25%{
        top: 160px;
        right: 160px;
    }

    30%{
        top: 160px;
        right: 240px;
    }

    35%{
        top: 160px;
        right: 320px;
    }

    40%{
        top: 240px;
        right: 320px;
    }

    45%{
        top: 320px;
        right: 320px;
    }

    50%{
        top: 400px;
        right: 320px;
    }

    60%{
        top: 400px;
        right: 400px;
    }

    65%{
        top: 400px;
        right: 480px;
    }

    70%{
        top: 480px;
        right: 480px;
    }

    100%{
        top: 560px;
        right: 480px;
    }
}